nav a{
    display: block;
    width: 80%;
}

nav {
    text-align:left;
    width: 20%;
}

h1, h2 {
    font-size: large;
}

.portfolio-image {
    width: 50%;
    margin-left: 5%;
}

.about-section {
    width: 90%;
}

#contact-page {
    grid-template-columns: 90%;
    grid-gap: 20px;
}
.realtor-info {
    margin: auto;
    width: 90%;
}

.house-browsing {
    grid-template-columns: 90%;
    grid-gap: 20px;
}

.house-block {
    margin-left: 35px;
    width:300px;
}
.house-pic {
    width: 300px;
}
.report-block {
    width: 90%;
}

.even, .odd {
    width: 100%;
}


